body {
  margin: 0;
  font-family: 'Courier', sans-serif;
}
.cover-main img {
  width: 150px;
  border: none;
  padding: 0;
  margin: 0;
}
img {
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 3px;
  padding: 5px;
}
img.top {
  width: 200px;
  padding: 0;
  border: none;
  display: block;
  margin: 0 auto;
}
blockquote {
  padding: 5px;
  background: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.7) !important;
}
section.cover .cover-main {
  margin: 0;
  color: white;
  font-weight: bold;
}
section.cover .cover-main>p a {
  border: none !important;
}
section.cover .cover-main>p:last-child a {
  background: rgba(0,0,0,0.6) !important;
  color: white;
  margin: 3px;
  width: 150px;
  padding: 2px 10px !important;
  border-radius: 2px !important;
  color: white !important;
  font-size: 10px !important;
}
section.cover.has-mask .mask {
  background: none !important;
}
section.cover p {
  text-transform: uppercase;
}
.markdown-section {
  max-width: 800px !important;
}
.markdown-section ol, .markdown-section p, .markdown-section ul, .markdown-section pre{
  line-height: 1.4rem;
}
.markdown-section pre {
  padding: 10px !important;
  line-height: 16px !important;
  font-size: 11px !important;
}
.markdown-section code {
  padding: 0 !important;
  background: none !important;
}
a {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

}
.anchor span {
/*
  font-family: 'Racing Sans One', cursive;
  */
  color: rgba(0,0,0,0.8) !important;
}

h1 {
  font-size: 40px !important;
  padding: 10px 0;
}
h2 {
  letter-spacing: -1px;
}
h3 {
  font-size: 18px !important;
}
.cover-main {
  overflow: hidden;
}